.content-body{
    background-image: url('../img/bg3.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
}

.ubication{
    margin-top: -4%;
    margin-right:2%;
}
.row>.container{
    margin: 5% 35%;
}
.usuario{
    color: #ffff;
}

