.riberas{
    height: 40px !important;
    width: 40px !important;
    margin-right: 7%;
}
.text{
    font-size: 18px;
    margin-top: 15px;
    margin-right: 3%;
    color: black;
}
.material-icons{
    color: black;
}
.ulistico{
    border: 0px;
}
