body {
	margin: 0 auto;
	background-image: url("../img/bg.png");
	width: 100%;
	height: 100%;
}

.container {
	width: 500px;
	height: 400px;
	text-align: center;
	background-color: rgba(52, 73, 94, 0.7);
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 130px;
}

.container img {
	width: 120px;
	height: 120px;
	border: none;
	margin-top: -60px;
	margin-bottom: 30px;
}

input {
	height: 45px;
	width: 300px;
	font-size: 18px;
	margin-bottom: 20px;
	border: none;
	border-radius: 4px;
	background-color: #fff;
	padding-left: 30px; 
}

.form-input::before{
	content: "";
	position: absolute;
	border: none;
	font-family: "FontAwesome";
	font-size: 30px;
}

.btn-login {
	padding: 15px 30px;
	color: #fff;
	border: none;
	border-radius: 5px;
	background-color: #2ECC71;
	border-bottom: 4px solid #27AE60;
}

a {
	color: #fff;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}