.content_body{
    background: url('../img/bg2.png');
    background-size: cover;
    width:100%;
    height:100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
}

.container_body{
    background: linear-gradient(rgba(128,0,128,0.3), rgba(0,0,255,0.3));
    height:100vh;
    width: 100%;
    position: absolute;
}
.password{
    color: #ffff;
}
.row>.container{
    margin: 2% 35%;
}
.ubication{
    margin-top: -5%;
    margin-right:2%;
}