.Zebra_Pagination {
    clear: both;
    width: 100%;
    overflow: hidden;
}

.Zebra_Pagination ul {
    position: relative;
    left: 50%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left
}

.Zebra_Pagination li {
    color: #FFF;
    position: relative;
    float: left;
    right: 50%
}

.Zebra_Pagination .pagination {
    display: inline-block;
}

.Zebra_Pagination li {
    display: inline;
}

.Zebra_Pagination li.active a {
    color: #FFF;
    cursor: default;
    background-color: #337AB7;
    border-color: #FFFFFF;
}

.Zebra_Pagination li.disabled a {
    color: #DEDEDE;
    background-color: transparent;
    border-color: #DEDEDE;
    cursor: default;
}